<!DOCTYPE html>
{% load static %}
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>GARGOYLE LTD.</title>
	<meta name="author" content="" />
	<meta name="description" content="" />
	<meta name="keywords"  content="" />
	<meta name="Resource-type" content="Document" />
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!-- Compiled and minified CSS -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="{% static '/review-modals.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static '/style.css'%}" />
    <link rel="stylesheet" href="{% static '/last-slide.css'%}">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/0.10.0/lodash.min.js"></script>
    <script
    src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{% static '/scroll.js'%}"></script>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{% static '/slider.css'%}">

</head>
<body>
 

        <section class="background">


            <div class="video-container">

                <video autoplay loop id="myvid">
                    <source src="{% static '/source/bg.mp4' %}" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.</video>
                <div class="poster hidden">

                </div>
            </div>
            <div class="filter">
                 
                </div>
            <div class="intro-content">
                <div class="intro-title-wrapper">
                <div class="intro-line-before"></div>
                    <h2>GARGOYLE</h2>  
                <div class="intro-line-after"></div>
                </div>
                <div class="phrase">
                    Perfection is Achieved Not When There is Nothing More to Add, But When There is Nothing Left to Take Away
                </div> 
                <div class="socials">
                    <div class="twitter">
                        <a href="#"><img src="{% static '/source/twitter.png' %}" alt=""></a>
                    </div>
                    <div class="facebook">
                            <a href="#"><img src="{% static '/source/facebook.png' %}" alt=""></a>
                    </div>
                </div>  
             </div>

        </section>

        <!--About section-->
        <section class="background">

            <!--Page title-->
            <div class="title">
                <div class="title-line">

                </div>
                <div class="title-number">
                    02
                </div>
                <div class="title-line">

                </div>
                <div class="title-name">
                    About Us
                </div>
            </div>

            <!--Corners-->
            <div class="top-corner"></div>
            <div class="bot-corner"></div>

            <!--Content block-->
            <div class="about-content">
                <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                         sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                          Ut enim ad minim veniam, quis nostrud exercitation ullamco
                           laboris nisi ut aliquip ex ea commodo consequat.
                            Duis aute irure dolor in reprehenderit in voluptate
                             velit esse cillum dolore eu fugiat nulla pariatur.
                             Excepteur sint occaecat cupidatat non proident,
                             sunt in culpa qui officia deserunt mollit anim 
                             id est laborum.Excepteur sint occaecat cupidatat non proident,
                             sunt in culpa qui officia deserunt mollit.
                </p>
            </div>
            <div class="socials">
                    <div class="twitter">
                        <a href="#"><img src="{% static '/source/twitter.png' %}" alt=""></a>
                    </div>
                    <div class="facebook">
                            <a href="#"><img src="{% static '/source/facebook.png' %}" alt=""></a>
                    </div>
                </div> 
        </section>

        <!--Tech page-->
        <section class="background">
            
                <!--Page title-->
                <div class="title">
                    <div class="title-line">
                
                    </div>
                    <div class="title-number">
                        03
                    </div>
                    <div class="title-line">
                
                    </div>
                    <div class="title-name">
                        Technologies of success
                    </div>
                </div>
                            
                <!--Corners-->
                <div class="top-corner"></div>
                <div class="bot-corner"></div>
                
                <!--Technologies cards-->
                <div class="tech-card-wrapper">
                    <div class="tech-card">
                        <div class="tech-icon">
                            <img src="{% static '/source/python_icon.png' %}" alt="">
                        </div>
                        <div class="tech-name">
                        Python
                        </div>
                        <div class="tech-side">
                            Server Side Development
                        </div>
                        <div class="tech-more">
                            <input type="checkbox" id="learn_check_python" name="more" style="opacity: 0 !important;">
                            <label id="learn_more" for="learn_check_python">Learn More</label>
                            <div class="learn_modal-python">
                                <label id="learn_more_python" for="learn_check_python"></label>
                                <div class="learn-modal-content">
                                    <div class="learn-modal-header">
                                        Python
                                    </div>
                                    <div class="learn-modal-sides">
                                            Artificial Intelligence, Computer Vision,  Data Science, Machine Learning, Natural Language Processing
                                    </div>
                                    <div class="learn-modal-desc">
                                        Description:
                                    </div>
                                    <div class="learn-modal-desctext">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.  
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tech-card">
                            <div class="tech-icon">
                                <img src="{% static '/source/js_icon.png' %}" alt="">
                            </div>
                            <div class="tech-name">
                            JavaScript
                            </div>
                            <div class="tech-side">
                                Client Side Development
                            </div>
                            <div class="tech-more">

                                <input type="checkbox" id="learn_check_js" name="more">
                                <label id="learn_more" for="learn_check_js">Learn More</label>
                                
                                <div class="learn_modal-js">
                                        <label id="learn_more_js" for="learn_check_js"></label>
                                        <div class="learn-modal-content">
                                                <div class="learn-modal-header">
                                                    JavaScript
                                                </div>
                                                <div class="learn-modal-sides">
                                                        Artificial Intelligence, Computer Vision,  Data Science, Machine Learning, Natural Language Processing
                                                </div>
                                                <div class="learn-modal-desc">
                                                    Description:
                                                </div>
                                                <div class="learn-modal-desctext">
                                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.  
                                                </div>
                                            </div>
                                    </div>
                            </div>
                    </div>

                    <div class="tech-card">
                                <div class="tech-icon">
                                    <img src="{% static '/source/java_icon.png' %}" alt="">
                                </div>
                                <div class="tech-name">
                                Java
                                </div>
                                <div class="tech-side">
                                    Android Development
                                </div>
                                <div class="tech-more">
                                    <label id="learn_more" for="learn_check_java">Learn More</label>
                                    <input type="checkbox" id="learn_check_java" name="more">
                                    <div class="learn_modal-java">
                                            <label id="learn_more_java" for="learn_check_java"></label>
                                            <div class="learn-modal-content">
                                                    <div class="learn-modal-header">
                                                        Java
                                                    </div>
                                                    <div class="learn-modal-sides">
                                                            Artificial Intelligence, Computer Vision,  Data Science, Machine Learning, Natural Language Processing
                                                    </div>
                                                    <div class="learn-modal-desc">
                                                        Description:
                                                    </div>
                                                    <div class="learn-modal-desctext">
                                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.  
                                                    </div>
                                                </div>
                                        </div>
                                </div>
                    </div>
                    <div class="tech-card">
                                    <div class="tech-icon">
                                        <img src="{% static '/source/swift_icon.png' %}" alt="">
                                    </div>
                                    <div class="tech-name">
                                    Swift
                                    </div>
                                    <div class="tech-side">
                                        IOS Development
                                    </div>
                                    <div class="tech-more">
                                        <label id="learn_more" for="learn_check_swift">Learn More</label>
                                        <input type="checkbox" id="learn_check_swift" name="more">
                                        <div class="learn_modal-swift">
                                                <label id="learn_more_swift" for="learn_check_swift"></label>
                                                <div class="learn-modal-content">
                                                        <div class="learn-modal-header">
                                                            Swift
                                                        </div>
                                                        <div class="learn-modal-sides">
                                                                Artificial Intelligence, Computer Vision,  Data Science, Machine Learning, Natural Language Processing
                                                        </div>
                                                        <div class="learn-modal-desc">
                                                            Description:
                                                        </div>
                                                        <div class="learn-modal-desctext">
                                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.  
                                                        </div>
                                                    </div>
                                            </div>
                                    </div>
                    </div>
                </div>
                
                <!--Socials-->
                <div class="socials">
                        <div class="twitter">
                            <a href="#"><img src="{% static '/source/twitter.png' %}" alt=""></a>
                        </div>
                        <div class="facebook">
                                <a href="#"><img src="{% static '/source/facebook.png' %}" alt=""></a>
                        </div>
                    </div> 
          </section>
<!--Portfolio-->
          <section class="background">
                <div class="slider-container">
                        <div class="slider-control left inactive"></div>
                        <div class="slider-control right"></div>
                        <ul class="slider-pagi"></ul>
                        <div class="slider">
                            <div class="slide slide-0 active">
                                <div class="slide__bg"></div>
                                <div class="slide__content">
                                    <svg class="slide__overlay" viewBox="0 0 720 405" preserveAspectRatio="xMaxYMax slice">
                                        <path class="slide__overlay-path" d="M0,0 405,0 150,405 0,405" />
                                    </svg>
                                    <div class="slide__text">
                                            <h2 class="slide__text-heading">Project 2</h2>
                                            <p class="slide__text-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio veniam minus illo debitis nihil animi facere, doloremque voluptate tempore quia. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio veniam minus illo debitis nihil animi facere, doloremque voluptate tempore quia.</p>
                                            <a class="slide__text-link">Visit Project</a>
                                    </div>
                                </div>
                            </div>
                            <div class="slide slide-1 ">
                                <div class="slide__bg"></div>
                                <div class="slide__content">
                                    <svg class="slide__overlay" viewBox="0 0 720 405" preserveAspectRatio="xMaxYMax slice">
                                        <path class="slide__overlay-path" d="M0,0 405,0 150,405 0,405" />
                                    </svg>
                                    <div class="slide__text">
                                        <h2 class="slide__text-heading">Project 2</h2>
                                        <p class="slide__text-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio veniam minus illo debitis nihil animi facere, doloremque voluptate tempore quia. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio veniam minus illo debitis nihil animi facere, doloremque voluptate tempore quia.</p>
                                        <a class="slide__text-link">Visit Project</a>
                                    </div>
                                </div>
                            </div>
                            <div class="slide slide-2 ">
                                    <div class="slide__bg"></div>
                                    <div class="slide__content">
                                        <svg class="slide__overlay" viewBox="0 0 720 405" preserveAspectRatio="xMaxYMax slice">
                                            <path class="slide__overlay-path" d="M0,0 405,0 150,405 0,405" />
                                        </svg>
                                        <div class="slide__text">
                                                <h2 class="slide__text-heading">Project 2</h2>
                                                <p class="slide__text-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio veniam minus illo debitis nihil animi facere, doloremque voluptate tempore quia. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio veniam minus illo debitis nihil animi facere, doloremque voluptate tempore quia.</p>
                                                <a class="slide__text-link">Visit Project</a>
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>
<!--Page title-->
<div class="title">
    <div class="title-line">

    </div>
    <div class="title-number">
        04
    </div>
    <div class="title-line">

    </div>
    <div class="title-name">
        Works We've Done
    </div>
</div>

<!--Corners-->

<div class="bot-corner"></div>



<div class="socials">
    <div class="twitter">
        <a href="#"><img src="{% static '/source/twitter.png' %}" alt=""></a>
    </div>
    <div class="facebook">
            <a href="#"><img src="{% static '/source/facebook.png' %}" alt=""></a>
    </div>
</div>
          </section>

<!--Partners-->
          <section class="background">
<!--Page title-->
<div class="title">
    <div class="title-line">

    </div>
    <div class="title-number">
        05
    </div>
    <div class="title-line">

    </div>
    <div class="title-name">
        Thinking Out Loud
    </div>
</div>

<!--Corners-->
<div class="top-corner"></div>
<div class="bot-corner"></div>

<div class="review-card-wrapper">

<!--First card-->
<div class="review-card">
    <div class="review-image">
        <img src="{% static '/source/review_image.png' %}" alt="">
    </div>
    <div class="review-name">
        Sachin Kumar
    </div>
    <div class="review-company">
        Company Name
    </div>
    <div class="review-rate">
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
    </div>
    <div class="review-button">
                        <div class="tech-more">
                            <input type="checkbox" id="learn_check_user" name="more">
                            <label id="read_review" for="learn_check_user">Read More</label>
                            <div class="learn_modal-user">
                                <label id="learn_more_user" for="learn_check_user"></label>
                                <div class="learn-modal-content">
                                    <div class="learn-modal-header">
                                        Python
                                    </div>
                                    <div class="learn-modal-sides">
                                            Artificial Intelligence, Computer Vision,  Data Science, Machine Learning, Natural Language Processing
                                    </div>
                                    <div class="learn-modal-desc">
                                        Description:
                                    </div>
                                    <div class="learn-modal-desctext">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.  
                                    </div>
                                </div>
                            </div>
                        </div>
    </div>
</div>

<!--second card-->
<div class="review-card">
    <div class="review-image">
        <img src="{% static '/source/review_image.png' %}" alt="">
    </div>
    <div class="review-name">
        Sachin Kumar
    </div>
    <div class="review-company">
        Company Name
    </div>
    <div class="review-rate">
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
    </div>
    <div class="review-button">
                        <div class="tech-more">
                            <input type="checkbox" id="learn_check_user2" name="more">
                            <label id="read_review" for="learn_check_user2">Read More</label>
                            <div class="learn_modal-user2">
                                <label id="learn_more_user2" for="learn_check_user2"></label>
                                <div class="learn-modal-content">
                                    <div class="learn-modal-header">
                                        Python
                                    </div>
                                    <div class="learn-modal-sides">
                                            Artificial Intelligence, Computer Vision,  Data Science, Machine Learning, Natural Language Processing
                                    </div>
                                    <div class="learn-modal-desc">
                                        Description:
                                    </div>
                                    <div class="learn-modal-desctext">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.  
                                    </div>
                                </div>
                            </div>
                        </div>
    </div>
</div>

<!--third card-->
<div class="review-card">
        <div class="review-image">
            <img src="{% static '/source/review_image.png' %}" alt="">
        </div>
        <div class="review-name">
            Sachin Kumar
        </div>
        <div class="review-company">
            Company Name
        </div>
        <div class="review-rate">
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
        </div>
        <div class="review-button">
                            <div class="tech-more">
                                <input type="checkbox" id="learn_check_user3" name="more">
                                <label id="read_review" for="learn_check_user3">Read More</label>
                                <div class="learn_modal-user3">
                                    <label id="learn_more_user" for="learn_check_user3"></label>
                                    <div class="learn-modal-content">
                                        <div class="learn-modal-header">
                                            Python
                                        </div>
                                        <div class="learn-modal-sides">
                                                Artificial Intelligence, Computer Vision,  Data Science, Machine Learning, Natural Language Processing
                                        </div>
                                        <div class="learn-modal-desc">
                                            Description:
                                        </div>
                                        <div class="learn-modal-desctext">
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.  
                                        </div>
                                    </div>
                                </div>
                            </div>
        </div>
    </div>

    <!--fourth card-->
<div class="review-card">
        <div class="review-image">
            <img src="{% static '/source/review_image.png' %}" alt="">
        </div>
        <div class="review-name">
            Sachin Kumar
        </div>
        <div class="review-company">
            Company Name
        </div>
        <div class="review-rate">
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
        </div>
        <div class="review-button">
                            <div class="tech-more">
                                <input type="checkbox" id="learn_check_user4" name="more">
                                <label id="read_review" for="learn_check_user4">Read More</label>
                                <div class="learn_modal-user4">
                                    <label id="learn_more_user" for="learn_check_user4"></label>
                                    <div class="learn-modal-content">
                                        <div class="learn-modal-header">
                                            Python
                                        </div>
                                        <div class="learn-modal-sides">
                                                Artificial Intelligence, Computer Vision,  Data Science, Machine Learning, Natural Language Processing
                                        </div>
                                        <div class="learn-modal-desc">
                                            Description:
                                        </div>
                                        <div class="learn-modal-desctext">
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.  
                                        </div>
                                    </div>
                                </div>
                            </div>
        </div>
    </div>

    <!--fifth card-->
<div class="review-card">
        <div class="review-image">
            <img src="{% static '/source/review_image.png' %}" alt="">
        </div>
        <div class="review-name">
            Sachin Kumar
        </div>
        <div class="review-company">
            Company Name
        </div>
        <div class="review-rate">
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
        </div>
        <div class="review-button">
                            <div class="tech-more">
                                <input type="checkbox" id="learn_check_user5" name="more">
                                <label id="read_review" for="learn_check_user5">Read More</label>
                                <div class="learn_modal-user5">
                                    <label id="learn_more_user" for="learn_check_user5"></label>
                                    <div class="learn-modal-content">
                                        <div class="learn-modal-header">
                                            Python
                                        </div>
                                        <div class="learn-modal-sides">
                                                Artificial Intelligence, Computer Vision,  Data Science, Machine Learning, Natural Language Processing
                                        </div>
                                        <div class="learn-modal-desc">
                                            Description:
                                        </div>
                                        <div class="learn-modal-desctext">
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.  
                                        </div>
                                    </div>
                                </div>
                            </div>
        </div>
    </div>

    <!--sixth card-->
<div class="review-card">
        <div class="review-image">
            <img src="{% static '/source/review_image.png' %}" alt="">
        </div>
        <div class="review-name">
            Sachin Kumar
        </div>
        <div class="review-company">
            Company Name
        </div>
        <div class="review-rate">
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
        </div>
        <div class="review-button">
                            <div class="tech-more">
                                <input type="checkbox" id="learn_check_user6" name="more">
                                <label id="read_review" for="learn_check_user6">Read More</label>
                                <div class="learn_modal-user6">
                                    <label id="learn_more_user" for="learn_check_user6"></label>
                                    <div class="learn-modal-content">
                                        <div class="learn-modal-header">
                                            Python
                                        </div>
                                        <div class="learn-modal-sides">
                                                Artificial Intelligence, Computer Vision,  Data Science, Machine Learning, Natural Language Processing
                                        </div>
                                        <div class="learn-modal-desc">
                                            Description:
                                        </div>
                                        <div class="learn-modal-desctext">
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.  
                                        </div>
                                    </div>
                                </div>
                            </div>
        </div>
    </div>

    <!--seventh card-->
<div class="review-card">
        <div class="review-image">
            <img src="{% static '/source/review_image.png' %}" alt="">
        </div>
        <div class="review-name">
            Sachin Kumar
        </div>
        <div class="review-company">
            Company Name
        </div>
        <div class="review-rate">
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
        </div>
        <div class="review-button">
                            <div class="tech-more">
                                <input type="checkbox" id="learn_check_user7" name="more">
                                <label id="read_review" for="learn_check_user7">Read More</label>
                                <div class="learn_modal-user7">
                                    <label id="learn_more_user" for="learn_check_user7"></label>
                                    <div class="learn-modal-content">
                                        <div class="learn-modal-header">
                                            Python
                                        </div>
                                        <div class="learn-modal-sides">
                                                Artificial Intelligence, Computer Vision,  Data Science, Machine Learning, Natural Language Processing
                                        </div>
                                        <div class="learn-modal-desc">
                                            Description:
                                        </div>
                                        <div class="learn-modal-desctext">
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.  
                                        </div>
                                    </div>
                                </div>
                            </div>
        </div>
    </div>

    <!--eight card-->
<div class="review-card">
        <div class="review-image">
            <img src="{% static '/source/review_image.png' %}" alt="">
        </div>
        <div class="review-name">
            Sachin Kumar
        </div>
        <div class="review-company">
            Company Name
        </div>
        <div class="review-rate">
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
        </div>
        <div class="review-button">
                            <div class="tech-more">
                                <input type="checkbox" id="learn_check_user8" name="more">
                                <label id="read_review" for="learn_check_user8">Read More</label>
                                <div class="learn_modal-user8">
                                    <label id="learn_more_user" for="learn_check_user8"></label>
                                    <div class="learn-modal-content">
                                        <div class="learn-modal-header">
                                            Python
                                        </div>
                                        <div class="learn-modal-sides">
                                                Artificial Intelligence, Computer Vision,  Data Science, Machine Learning, Natural Language Processing
                                        </div>
                                        <div class="learn-modal-desc">
                                            Description:
                                        </div>
                                        <div class="learn-modal-desctext">
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.  
                                        </div>
                                    </div>
                                </div>
                            </div>
        </div>
    </div>


</div>

<div class="socials">
    <div class="twitter">
        <a href="#"><img src="{% static '/source/twitter.png' %}" alt=""></a>
    </div>
    <div class="facebook">
            <a href="#"><img src="{% static '/source/facebook.png' %}" alt=""></a>
    </div>
</div>
          </section>
        <div class="page-controls">
            <div class="page-counter counter-active" id="next-item" onclick="javascript:clickControl(1,this.id);"></div>
            <div class="page-counter" onclick="javascript:clickControl(2,this.id);"></div>
            <div class="page-counter" onclick="javascript:clickControl(3,this.id);"></div>
            <div class="page-counter" onclick="javascript:clickControl(4,this.id);"></div>
            <div class="page-counter" onclick="javascript:clickControl(5,this.id);"></div>
            <div class="page-counter" onclick="javascript:clickControl(6,this.id);"></div>
        </div>

      <!--Page title-->
 <div class="title-last">
        <div class="title-line-last">
    
        </div>
        <div class="title-number-last">
            06
        </div>
        <div class="title-line-last">
    
        </div>
        <div class="title-name-last">
            Let's discuss
        </div>
    </div>
    
    <!--Corners-->
    <div class="top-corner-last"></div>
    <div class="bot-corner-last"></div>
    <div class="contact-header">
        Leave Your contacts in form below and we will get in touch with You!
    </div>
    <div class="contact-form">
    <form class="col s12" action="" method="post">{% csrf_token %}
        <div class="row" >
            {% if messages %}
                {% for message in messages %}
            <span class="{{ message.tags }}" id="form-success">{{ message }}</span>
                {% endfor %}
            {% endif %}
            <div class="input-field col s6">
              <input id="contact_name" name="contact_name" type="text" class="validate" required>
              <label class="active" for="contact_name">Name</label>
            </div>

            <div class="input-field col s6">
                    <input id="contact_email" name="contact_email" type="email" class="validate" required>
                    <label class="active" for="contact_email">Email</label>
            </div>

            <div class="row">
              <div class="input-field col s12">
                <textarea id="content" name="content" class="materialize-textarea" required></textarea>
                <label for="content">Textarea</label>
              </div>
            </div>
            <input type="submit" id="contact-button" value="Send e-mail">
            <label id="contact-label" for="contact-button">Contact me</label>
        </div>
    </form>
    </div>
    
    <div class="socials-last">
        <div class="twitter-last">
            <a href="#">

                <img src="{% static '/source/twitter.png' %}" alt="">
            </a>
        </div>
        <div class="facebook-last">

                <a href="#">

                    <img src="{% static '/source/facebook.png' %}" alt="">
                </a>
        </div>

        <script src="{% static '/slider.js' %}"></script>
        <script>
                $('#textarea1').val('New Text');
            $('#textarea1').trigger('autoresize');
            </script>
              <!--Import jQuery before materialize.js-->
              <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
           <!-- Compiled and minified JavaScript -->
           <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
            <script>$('input[type="checkbox"]').on('change', function() {
        $('input[type="checkbox"]').not(this).prop('checked', false);
     });</script>
</body>
</html>