
.contact-header{
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 23px;
    color:#fff;
}

.contact-form{
    color:#b0a071 !important;
    position: absolute;
    z-index: 1;
    width: 40%;
  }

  #contact-button{
      opacity: 0;
      display: none;
  }
  #contact-label{
    width: 30%;
    height: 50px;
    overflow: hidden;
    margin: 0 auto;
    color: #b0a071;
    font-size: 25px;
    font-weight: 100;
    border: 1px solid #b0a071;
    padding: 10px;
    display: block;
    text-align: center;
    margin-top: 30px;
  }

  #contact-label:hover{
      cursor: pointer;
  }

  #form-success{
      position: relative;
      float: left;
      width: 97%;
      margin-left: 1.5%;
      max-height: 0px;
      text-align: center;
      color: #b0a071;
      overflow: hidden;
      padding-bottom: 0px;
  }

  @keyframes success{
      0%{
          max-height: 0px;
          border-bottom: none;
          padding-bottom: 0px;
      }
      10%{
        max-height: 30px;
        border-bottom: 1px solid #b0a071;
        padding-bottom: 15px;
      }
      20%{
        max-height: 30px;
        border-bottom: 1px solid #b0a071;
        padding-bottom: 15px;
      }
      30%{
        max-height: 30px;
        border-bottom: 1px solid #b0a071;
        padding-bottom: 15px;
      }
      40%{
        max-height: 30px;
        border-bottom: 1px solid #b0a071;
        padding-bottom: 15px;
      }
      50%{
        max-height: 30px;
        border-bottom: 1px solid #b0a071;
        padding-bottom: 15px;
      }
      60%{
        max-height: 30px;
        border-bottom: 1px solid #b0a071;
        padding-bottom: 15px;
      }
      70%{
        max-height: 30px;
        border-bottom: 1px solid #b0a071;
        padding-bottom: 15px;
      }
      80%{
        max-height: 30px;
        border-bottom: 1px solid #b0a071;
        padding-bottom: 15px;
      }
      90%{
        max-height: 30px;
        border-bottom: 1px solid #b0a071;
        padding-bottom: 15px;
      }
      100%{
        max-height: 0px;
        border-bottom: none;
        padding-bottom: 0px;
      }
  }

  .input-field>input[type=text]{
      border-bottom-color: #b0a071 !important;
      box-shadow: none !important;
  }
  .input-field>input[type=email]{
    border-bottom-color: #b0a071 !important;
    box-shadow: none !important;
  }
  .input-field>textarea{
    border-bottom-color: #b0a071 !important;
    box-shadow: none !important;
  }
  /* label color */
  .input-field label {
    color: #b0a071 !important;
  }
  .input-field textarea{
      color:#b0a071;
      border-left: none !important;
      border-right: none !important;
  }
  /* label focus color */
  .input-field input:focus + label {
    color: #b0a071 !important;
  }

  .input-field textarea:focus + label {
    color: #b0a071 !important;
  }
  /* label underline focus color */
  .input-field input:focus {
    color:#b0a071 !important;
    border-bottom: 1px solid #b0a071 !important;
    box-shadow: none;
  }
  
  .input-field textarea:focus {
    color:#b0a071 !important;
    border-bottom: 1px solid #b0a071 !important;
    border-left: none !important;
    border-right: none !important;
    box-shadow: none;
  }

  /* valid color */
  .input-field input[type=text].valid {
    border-bottom: 1px solid #b0a071;
    box-shadow: none;
  }

  /* invalid color */
  .input-field input[type=text].invalid {
    border-bottom: 1px solid #b0a071;
    box-shadow: none;
  }

  .input-field input[type=email].invalid {
    border-bottom: 1px solid #b0a071;
    box-shadow: none;
  }
  textarea.materialize-textarea{
    height: 1rem !important;
    padding: .8rem 0 0.8rem 0 !important;
  min-height: 1.5rem; }
  textarea.materialize-textarea:focus{height: 1rem !important;}
  textarea.materialize-textarea:focus:not([readonly]){
    box-shadow: none !important;
    border: none !important;
    border-bottom: 1px solid #b0a071 !important;
  }