@import url(https://fonts.googleapis.com/css?family=Montserrat);
* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
*:before, *:after { -webkit-box-sizing: inherit; -moz-box-sizing: inherit; box-sizing: inherit; }
html, body {
  overflow: hidden;
  margin: 0;
  background-color: #272727;
  font-family: 'Montserrat', sans-serif !important;
  line-height: 1.25 !important;
    min-height: 320px;
}

.swiper-container-vertical>.swiper-pagination-bullets {
  right: inherit !important;
  left: 10px;
  top: 50%;
  -webkit-transform: translate3d(0,-50%,0);
  transform: translate3d(0,-50%,0);
}
.swiper-container-vertical>.swiper-pagination-bullets {
  width: auto;
  left: 10px;
  top: 50%;
  -webkit-transform: translate3d(0,-50%,0);
  transform: translate3d(0,-50%,0);
}

.swiper-pagination-bullet-active {
  opacity: 1;
  background: #FFF;
}
/* Preloader */
#preloader {
	position: fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background-color:#272727; /* change if the mask should have another color then white */
  z-index:999; /* makes sure it stays on top */
  background-image:url(source/preloader.svg); /* path to your loading animation */
	background-repeat:no-repeat;
	background-position:center center;
}

a{
  color: #b0a071 !important;
}
.background {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;
  will-change: transform;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  height: 100%;
  position: fixed !important;
  width: 100%;

  -webkit-transition: all 1.2s cubic-bezier(0.22, 0.44, 0, 1);
  transition: all 1.2s cubic-bezier(0.22, 0.44, 0, 1);
  font-family: 'Sans Serif', 'Montserrat';
}

/*.swiper-slide:nth-child(2) {
  background-image: url(source/about_bg.png);
  background-size: cover;
}
.swiper-slide:nth-child(3) {
  background-image: url(source/tech_bg.png);
}
.swiper-slide:nth-child(4) {
    background-color: #272727;
  }
.swiper-slide:nth-child(5) {
    background-image: url(source/reviews_bg.png);
  }

  .swiper-slide:nth-child(6){
    background-image: url(source/contact_bg.png);
    background-size: cover;
}
*/
.swiper-slide {
  z-index: 1;
}
/* Set stacking context of slides */
.swiper-slide:nth-child(1) {
  z-index: 1;
}

.swiper-slide:nth-child(2) {
  z-index: 2;
}

.swiper-slide:nth-child(3) {
  z-index: 3;
}

.swiper-slide:nth-child(4) {
    z-index: 4;
}

.swiper-slide:nth-child(5) {
    z-index: 5;
  }

.swiper-slide:nth-child(6) {
    z-index: 6;
  }

.content-wrapper {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  color: #fff;
  font-family: Montserrat;
  text-transform: uppercase;

  will-change: transform;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: all 1.7s cubic-bezier(0.22, 0.44, 0, 1);
  transition: all 1.7s cubic-bezier(0.22, 0.44, 0, 1);
}

.content-title {
  font-size: 12vh;
  line-height: 1.4;
}
/*
.background.up-scroll {

}
.background.up-scroll .content-wrapper {

}
.background.up-scroll + .background {

}
.background.up-scroll + .background .content-wrapper {

}*/

.background.down-scroll {
  -webkit-transform: translate3d(0, -100vh, 0);
          transform: translate3d(0, -100vh, 0);
}

/*.background.down-scroll .content-wrapper {

}
.background.down-scroll + .background:not(.down-scroll) {

}
.background.down-scroll + .background:not(.down-scroll) .content-wrapper {

}*/

#myvid {
    position: fixed;
    left: -35vw;
    top: 0;
    height: 100%;
  }

  video {
    background-color: black;
    background-image: url(source/bg.mp4);
    background-size: contain;
    
  }
  .poster{

    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-image: url(source/intro_bg.png);
    background-size: cover;
  }
  .filter{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-image: url('source/gletter.png');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-color:rgba(0, 0, 0, 0.5);
  }
  
  .intro-content{
    position: fixed;
    top: 0vh;
    left: 50%;
    width: 50%;
    background-color:#272727;
    height: 100%;
    z-index: 11;
    color:#fff;
  }

  .intro-content h2{
      width: 24%;
      font-size: 40px;
      text-align: center;
      float: left;
  }

  .intro-line-before{
      float: left;
      width: 33%;
      border-bottom: 2px solid #b0a071;
      margin-top: 45px;
      margin-right: 5%;
  }

  .intro-line-after{
    float: left;
    width: 33%;
    border-bottom: 2px solid #b0a071;
    margin-top: 45px;
    margin-left: 5%;
    }

    .intro-title-wrapper{
        width: 100%;
        float: left;
    }

    .phrase{
        background-image: url(source/phrase_bg.png);
        background-size: contain;
        margin-top: 35vh;
        margin-left: 15%;
        font-size: calc(100vw*0.02);
        background-repeat: no-repeat;
        width: 70%;
        height: 300px;
        padding: 4%;
        padding-top: 2%;
    }

    .phrase:after{
        color:#b0a071;
        content: "Antoine de Saint-Exupery";
        font-size: 1.5rem;
        margin-top: 40px;
        margin-right: -4%;
        float: right;
    }
    .socials{
      position: absolute;
      right: 3vw;
      margin-right: 0;
      bottom: 4vh;
      z-index: 990;
  }
  
  .inst{
    float: left;
  }
  
  .inst img{
    margin-left: 0px;
    margin-right: 15px;
    width: 35px;
    height: 35px;
  }
  
  .twitter{
      float: left;
  }
  
  .twitter img{
    margin-left: 0px;
    margin-right: 15px;
    width: 35px;
    height: 35px;
  }
  
  .facebook{
      float: left;
  }
  
  .facebook img{
      margin-left: 0px;
      margin-right: 15px;
      width: 35px;
      height: 35px;
  }
  

    .title{
      font-size: 45px;
      color: #b0a071;
      position: absolute;
      top: 5vh;
      left: 0;
      z-index: 16;
    }

    .title-number{
      float: left;
    }

    .title-line{
      float: left;
      margin-top: 30px;
      margin-right: 20px;
      width: 50px;
      border-bottom: 2px solid #b0a071;
    }

    .title-line:nth-child(n+2){
        margin-left: 20px;

    }

    .title-name{
      float: left;
    }

    .top-corner{
      position: absolute;
      right: 0;
      top: 0;
      width: 80px;
      height: 80px;
      background-image: url(source/top_corner.png);
      z-index: 16;
    }

    .bot-corner{
      position: absolute;
      left: 0;
      bottom: 0;
      width: 80px;
      height: 80px;
      background-image: url(source/bot_corner.png);
      z-index: 16;
    }

    .about-content{
      color: #fff;
      padding: 40px;
      padding-top: 5px;
      padding-bottom: 20px;
      padding-right: 10vw;
      text-align: justify;
      font-size: calc(100vw * 0.0135);
      width: 50%;
      height: 450px;
      position: absolute;
      left: 25%;
      top:30vh;
      background-image: url(source/about_dots.png);
      background-repeat: no-repeat;
      background-size: contain;
    }

    .tech-card-wrapper{
      position: relative;
      width: 60%;
      margin-left: 0%;
    }
    
    .tech-card{
      width: 20%;
      margin-left: 2.5%;
      margin-right: 2.5%;
      float: left;
    }

    .tech-card > .tech-icon{
      width: 130px;
      height: 130px;
      margin: 0 auto;
    }

    .tech-name{
      color: #b0a071;
      font-size: 30px;
      text-align: center;
    }

    .tech-side{
      color: #fff;
      text-align: center;
      padding-top: 10px;
      height: 44px;
    }

    #learn_more{
      line-height: 30px;
      width: 75%;
      height: 50px;
      overflow: hidden;
      margin: 0 auto;
      color: #b0a071;
      font-size: 25px;
      font-weight: 100;
      border: 1px solid #b0a071;
      padding: 10px;
      bottom: 0;
      display: block;
      text-align: center;
      margin-top: 20px;
    }

    #learn_more_js{
      position: absolute;
      width: 30px;
      height: 30px;
      overflow: hidden;
      color: #b0a071;
      font-size: 25px;
      font-weight: 100;
      padding: 10px;
      top: 0;
      left: 25px;
      display: block;
      text-align: center;
      margin-top: 20px;
      background-image: url(source/cross.png);
      background-position: center center;
    }
    
    #learn_more:hover{
      cursor: pointer;
    }

    .tech-more input{
      opacity: 0;
      position: fixed;
      bottom: 0px;
    }
    
    .tech-more label::before{
      content: none !important;
    }

    .learn_modal-js{
      width: 50%;
      height: 100%;
      position: fixed;
      right: 0;
      top: 0;
      background-color:#272727;
      z-index: 18;
      transform: translateX(100%);
      transition: all 1s ease-in-out 0s;
      background-image: url(source/javascript.png);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: 10vw center;
    }

    .tech-more > input:checked ~ .learn_modal-js{
        transform: translateX(0%);
        -webkit-box-shadow: -5px 0px 5px 0px rgba(0,0,0,0.4);
-moz-box-shadow: -5px 0px 5px 0px rgba(0,0,0,0.4);
box-shadow: -5px 0px 5px 0px rgba(0,0,0,0.4);
    }

    #learn_more_java{
      position: fixed;
      width: 30px;
      height: 30px;
      overflow: hidden;
      color: #b0a071;
      font-size: 25px;
      font-weight: 100;
      padding: 10px;
      top: 0;
      left: 25px;
      display: block;
      text-align: center;
      margin-top: 20px;
      background-image: url(source/cross.png);
      background-position: center center;
    }

    #learn_more_java:hover{
      cursor: pointer;
    }

    .learn_modal-java{
      width: 50%;
      height: 100%;
      position: fixed;
      right: 0;
      top: 0;
      background-color:#272727;
      z-index: 18;
      transform: translateX(100%);
      transition: all 1s ease-in-out 0s;
      background-image: url(source/java.png);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: 10vw center;
    }

    .tech-more > input:checked ~ .learn_modal-java{
      transform: translateX(0%);
      -webkit-box-shadow: -5px 0px 5px 0px rgba(0,0,0,0.4);
      -moz-box-shadow: -5px 0px 5px 0px rgba(0,0,0,0.4);
      box-shadow: -5px 0px 5px 0px rgba(0,0,0,0.4);
  }
    
  #learn_more_python{
    position: fixed;
    width: 30px;
    height: 30px;
    overflow: hidden;
    color: #b0a071;
    font-size: 25px;
    font-weight: 100;
    padding: 10px;
    top: 0;
    left: 25px;
    display: block;
    text-align: center;
    margin-top: 20px;
    background-image: url(source/cross.png);
    background-position: center center;
  }

  .learn_modal-python{
    width: 50%;
    height: 100%;
    position: fixed;
    right: 0;
    top: 0;
    background-color:#272727;
    z-index: 18;
    transform: translateX(100%);
    transition: all 1s ease-in-out 0s;
    background-image: url(source/python.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 10vw center;
  }

  .tech-more > input:checked ~ .learn_modal-python{
    transform: translateX(0%);
    -webkit-box-shadow: -5px 0px 5px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: -5px 0px 5px 0px rgba(0,0,0,0.4);
    box-shadow: -5px 0px 5px 0px rgba(0,0,0,0.4);
}

#learn_more_swift{
  position: fixed;
  width: 30px;
  height: 30px;
  overflow: hidden;
  color: #b0a071;
  font-size: 25px;
  font-weight: 100;
  padding: 10px;
  top: 0;
  left: 25px;
  display: block;
  text-align: center;
  margin-top: 20px;
  background-image: url(source/cross.png);
  background-position: center center;
}

.learn_modal-swift{
  width: 50%;
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;
  background-color:#272727;
  z-index: 18;
  transform: translateX(100%);
  transition: all 1s ease-in-out 0s;
  background-image: url(source/swift.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.tech-more > input:checked ~ .learn_modal-swift{
  transform: translateX(0%);
  -webkit-box-shadow: -5px 0px 5px 0px rgba(0,0,0,0.4);
  -moz-box-shadow: -5px 0px 5px 0px rgba(0,0,0,0.4);
  box-shadow: -5px 0px 5px 0px rgba(0,0,0,0.4);
}

.learn-modal-content{
  position: fixed;
  width: 80%;
  top: 10vh;
  left: 10vh
}

.learn-modal-header{
  float: left;
  width: 100%;
  color: #b0a071;
  font-size: 50px;
}

.learn-modal-sides{
  width: 100%;
  float: left;
  color:#b0a071;
  font-size: 20px;
  padding-top: 20px;
}

.learn-modal-desc{
  width: 20%;
  float: left;
  color: #b0a071;
  font-size: 20px;
  padding-top: 20px;
}

.learn-modal-desctext{
  width: 80%;
  float: left;
  color: #fff;
  font-size: 20px;
  padding-top: 20px;
  text-align: justify;
}

.review-card-wrapper{
  width: 70%;
  margin-left: 0%;
  position: absolute;

}

.review-card{
  margin-top: 0%;
  float: left;
  background-color: #272727;
  padding: 10px;
  padding-right: 0px;
  padding-left: 0px;
  width: 20%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  margin-top: 5%;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

.review-image { 
  width: 40%;
  margin-left: 30%;
  margin-right: 30%;
}

.review-image img {
  width: 100%;
  margin: 0 auto;
  border-radius: 50%;
}

.review-name {
  width: 100%;
  margin-top:5px;
  color:#b0a071;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

.review-company {
  width: 100%;
  margin-top:5px;
  color:#b0a071;
  text-align: center;
  font-size: 17px;
}

.review-rate{
  width: 85%;
  margin-left: 7.5%;
  margin-top: 10px;
  padding-bottom: 20px;
}

.star {
  position: relative;
  width: 10%;
  height: 25px;
  margin-left: 5%;
  margin-right:5%;
  border-radius: 50%;
  float: left;
  background-image: url(source/gold_star.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.star:nth-child(5){
  background-image: url(source/black-star.png);
  opacity: 0.5;
}

#read_review{
  width: 75%;
  height: 40px;
  overflow: hidden;
  margin: 0 auto;
  color: #b0a071;
  font-size: 20px;
  font-weight: 100;
  border: 2px solid #b0a071;
  padding: 5px;
  bottom: 0;
  display: block;
  text-align: center;
  margin-top: 20px;
}

#read_review:hover{
  cursor: pointer;
}

.page-controls{
  position: fixed;
  z-index: 99;
  left: 3vw;
  top: 41.7vh;
}

.page-controls > .page-counter{
  width: 15px;
  height: 15px;
  margin-top: 10px;
  border: 2px solid #fff;
}

.counter-active{
  background-color: #fff;
}
 
.counter-disabled{
  background-color: transparent;
}
.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%…2L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");
  right: 5vw !important;
  left: auto;
}
.swiper-button-prev.swiper-button-white, .swiper-container-rtl .swiper-button-next.swiper-button-white {
  left: 5vw;
  right: auto;
}
#works-slider{
  display: block !important;
}
.swiper-container {
  display: none;
  width: 100%;
  height: 100%;
  background: transparent;
}
.swiper-slide {
  font-size: 18px;
  color:#fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}
#works-slider-wrapper .swiper-slide:first-child{
  background-image: url(source/identifai2.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0 50px;
}
#works-slider-wrapper .swiper-slide:nth-child(2){
  background-image: url(source/identifai2.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: none;
}
#works-slider-wrapper .swiper-slide:nth-child(3){
  background-image: url(source/identifai2.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: none;
}

.parallax-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 130%;
  height: 100%;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
}

.slider-content-wrapper{
  position: absolute;
  bottom: 15vh;
  left: 15vw;
  height: auto;
  background-color: rgba(39,39,39, 0.8);
  padding: 20px;
  padding-top: inherit;
}
.swiper-slide .slider-image {
  display: none;
  width: 100%;
}
.swiper-slide .slider-image img {
  width: 100%;
}
.swiper-slide .slider-title {
  color: #b0a071;
  font-size: 41px;
  font-weight: 300;
}
.swiper-slide .slider-subtitle {
  font-size: 21px;
}
.swiper-slide .slider-text {
  font-size: 14px;
  max-width: 400px;
  line-height: 1.3;
  text-align: justify;
}
